{% extends 'base.html'%}
{% block content %}
 <section class="banner_area">
            <div class="banner_inner d-flex align-items-center">
            	<div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
				<div class="container">
					<div class="banner_content text-center">
						<h2>Register</h2>
						
					</div>
				</div>
            </div>
        </section>
<section class="blog_area p_120">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="blog_left_sidebar">
                   <h2>Login</h2>
                  
                      {% if user.is_authenticated %}
                      U are already logged in
                      {%else%}
                      <form action="" method="POST">
                        {% csrf_token %}
                        {% if form.errors %}
                        <div class="errors">
                            <div class="inner">
                                <p style="color:red">Correct errors below</p>
                                <ul>
                                   {% for field in form %}
                                   {% if field.errors %}
                                   <li>{{form.label}}  {{field.errors|striptags }}</li>
                                   {%endif%}
                                   {%endfor%}
                                </ul>
                            </div>
                        </div>
                        {% endif %}
                     <div class="mt-10">
                         <input type="text" name="username" placeholder="Username" onfocus="this.placeholder = ''" onblur="this.placeholder = 'First Name'" required="" class="single-input">
                     </div>
                     <div class="mt-10">
                         <input type="password" name="password" placeholder="Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Last Name'" required="" class="single-input">
                     </div>
                     <div class="mt-10"><button type="submit" class="genric-btn primary e-large mt-5 ml-10" ><h4 class="p-4">Login</h4>  </button></div>

                 </form>
                      {% endif %}
                      
                   
                </div>
            </div>
           {% include 'right_side.html'%}
        </div>
    </div>
</section>
{% endblock %}
